body.dark {
  background-color: var(--bg-dark);
  transition: .3s ease all;
} 

body.dark .header {
  color: var(--yellow-bold);
}

body.dark .ct-result-string {
  color: var(--yellow);
}

body.dark .cron-input {
  background-color: var(--bg-dark);
  color: var(--yellow);
}

body.dark .card {
  background-color: var(--gray);
  /* box-shadow: 10px 10px 20px rgba(0,0,0,.20); */
}

body.dark .card-item-title span{
  color: var(--bg-light);
}

body.dark .table thead th {
  color: var(--bg-light);
}

body.dark .table td {
  color: var(--bg-light);
}

.switch {
  background-color: var(--blue);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch > span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.switch::after {
  content: '';
  display: block;
  width: 30px;
  height: 32px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
  background: var(--yellow);
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}