:root {
  --bg-light: #f5f6fa;
  --bg-dark: #2f3640;
  --white: #fff;
  --black: #000;
  --gray: #353b48;
  --red: #e84118;
  --blue: #192a56;
  --blue-bold: #273c75;
  --yellow: #fbc531;
  --yellow-bold: #e1b12c;
}

body {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  background-color: var(--bg-light);
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.navbar {
  color: white;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-right: 30px;
}

/* .contribute-link {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  border-radius: 3px;
  background-color: rgb(56, 43, 95);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
} */

.header {
  color: var(--blue);
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  /* max-width: 768px; */
}

.ct-converter {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 1rem;
  transition: all 0.2s ease-out 0s;
  width: 100%;
}

.ct-cron-input {
  display: flex;
  margin-bottom: 20px;
  width: inherit;
}

.cron-input {
  color: var(--blue-bold);
  font-size: 50px;
  border-style: solid;
  border-radius: 15px;
  outline: transparent;
  text-align: center;
  width: 100%;
}

.cron-input.invalid {
  color: var(--red);
  border-color: var(--red);
}

.ct-result-string {
  display: flex;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--blue-bold);
  font-size: 20px;
  -webkit-box-align: center;
  align-items: center;
  font-style: italic;
}

.ct-result-string span.invalid {
  color: var(--red);
}

.ct-examples {
  display: flex;
  width: 100%;
  justify-content: start;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(233, 228, 247);
  border-radius: 4px;
  margin: 0px 0px 1rem;
  padding: 40px;
}

.ct-examples span {
  color: var(--gray);
  padding-bottom: 10px;
  padding-top: 5px;
  
}

.ct-examples table {
  border: 1px solid rgb(233, 228, 247);
  border-collapse: collapse;
  border-spacing: 0px; 
  font-size: 12px;
}

/*Cards*/
.cards {
  background: #fefefe;
  border-radius: 15px;
  box-shadow: 0 10px 30px 0 rgb(24 28 33 / 12%);
  width: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22px;
  min-width: 0;
  margin-bottom: 30px;
}

.card-body {
  flex: 1 1 auto;
  padding: 25px
}

.card-item-title {
  display: flex;
  flex-direction: column;
}

.card-item-title span {
  color:var(--gray);
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
}

.card-item-body {
  color: var(--gray);
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
}

.table {
  width: 100%;
}

.table th {
  padding: 11px 15px;
  color: var(--gray);
  font-size: 14px;
  font-weight: 500;
  text-align:left;
  text-transform: uppercase;
}

.table td {
  padding: 11px 15px;
  color: var(--gray);
  font-size: 14px;
}

.wd-30 {
  width: 30%;
}

.wd-20 {
  width: 20%;
}

.wd-50 {
  width: 50%;
}

.wd-70 {
  width: 70%;
}

/* 
.list {
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  border-radius: 6px;
  margin-bottom: 15px;
}

.list-item span{
  font-size: 15px;
  font-weight: 500;
  color: #353b48;
}

.item-date {
  margin-right: 20px;
} */

